body{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background-color: rgb(32, 34, 37);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ul{
    list-style: circle;
}
ol{
    list-style:decimal;
}
li{
    color: white;
    font-size: medium;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
}
p{
    color: white;
}
a{
    text-decoration: none;
    color: white;
}
main{
    width: 75%;
    height: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(49, 49, 67);
    border-radius: 5px;
    overflow: auto;
}
main div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
}
img{
    max-width: 450px;
    max-height: 338px;
}
.container{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 15px;
    border-left: solid 5px rgb(51, 255, 87);
    border-radius: 5px;
}
h1{
    color: white;
    font-size: large;
}
h2{
    color: white;
    font-size: large;
}
